/* importing poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* root css */
:root {
  --landing--backgroundColor: #f3f1f6;
  --icon-color: #06285e;
  --heading-color: #000000;
  --rating-color: #f1d700;
  --landing-text-color: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
}

.hero-section {
  background: url(images/Cover\ img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 80vh; */
}

.hero-section-width {
  max-width: 50%;
}
.container h1 {
  font-size: 30px;
  color: var(--landing-text-color);
  font-weight: bold;
  padding-top: 50px;
}

.rating-section .rating-icon {
  color: var(--rating-color);
  margin: 40px auto 30px auto;
}

.hero-section-content small {
  color: var(--landing-text-color);
  line-height: 1.8rem;
}

.hero-section-content {
  margin: auto auto 50px auto;
}

.hero-section-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.hero-section-btns button {
  padding: 10px 30px;
  border: none;
  font-weight: bolder;
}

.hero-section-btns button:last-child {
  background-color: var(--heading-color);
  color: var(--landing-text-color);
  border: 3px solid var(--icon-color);
}

.hero-section-btns button:first-child:hover {
  background-color: var(--icon-color);
  color: var(--landing-text-color);
}

.hero-section-btns button:last-child:hover {
  background-color: var(--icon-color);
}

.skill-section {
  background-color: var(--landing--backgroundColor);
}

.skill-section-heading h2 {
  font-weight: bolder;
}

.skill-section-heading h2 span {
  color: var(--icon-color);
}

.skills-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.skills-icons span{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.skills-icons span i {
  font-size: 30px;
  color: var(--icon-color);
  margin-right: 10px;
}

.overview-section {
  padding: 3rem 3rem;
}

.overview-section-heading h3 {
  font-weight: bolder;
}

.overview-section-heading h3 span {
  color: var(--icon-color);
}

.overview-section-content {
  display: flex;
  padding-top: 2rem;
}

.overview-content {
  max-width: 60%;
}

.overview-content small {
  color: var(--heading-color);
  line-height: 1.5rem;
}

.top-institutes {
  box-shadow: 0px 0px 0.5rem grey;
  margin: 0rem 1rem;
}

.institute-title {
  min-height: 10vh;
  line-height: 10vh;
  padding-left: 10px;
  background: url(images/banner-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.institute-names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px 15px;
}

.institute-names div{
  font-size: 13px;
}

.skills-covered {
  background-color: var(--landing--backgroundColor);
}

.skills-covered-heading h2 {
  color: var(--heading-color);
}

.skills-content {
  display: grid;
}

.skill-subcontent-1 {
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills {
  border: 0.1px solid grey;
  border-radius: 2px;
  border-left: 5px solid var(--icon-color);
  font-weight: bold;
  color: var(--heading-color);
  padding: 5px 25px;
}

.operations h2 {
  color: var(--heading-color);
}

.operations-content small {
  color: var(--heading-color);
}

@media screen and (max-width: 992px) {
  /* hero section */
  .hero-section-width {
    max-width: 100%;
  }

  .container h1 {
    padding-top: 20px;
  }

  .rating-section .rating-icon {
    margin: 15px auto 15px auto;
  }

  .hero-section-content {
    margin-bottom: 20px;
  }

  .hero-section-btns {
    gap: 20px;
  }

  .hero-section-btns button {
    padding: 5px 10px;
  }

  .skills-icons {
    grid-template-columns: 1fr 1fr;
  }

  .skill-subcontent-1 {
    margin: 10px 0px;
  }

  .skill-subcontent-2 {
    margin-top: 0px;
  }

  .overview-content {
    max-width: 100%;
  }

  .overview-section-content{
    display: flex;
    flex-direction: column;
  }
  
  .top-institutes{
    margin-top: 2rem;
  }
}

@media screen and (max-width: 546px) {

  .container{
    padding: 1rem;
  }
  /* skill section */
  .skills-icons {
    grid-template-columns: 1fr;
    margin: 40px auto 5px auto;
  }

  .hero-section-btns {
    align-items: center;
    justify-content: center;
  }

  /* overview section */
  .overview-section {
    padding: 2rem 3rem;
  }

  .overview-content {
    max-width: 100%;
  }

  .overview-section-content {
    padding-top: 0.5rem;
  }

  .overview-section-content {
    display: flex;
    flex-direction: column;
  }

  .top-institutes {
    margin: 30px 0px 10px 0px;
  }

  .institute-title {
    max-width: 100%;
  }

  .institute-names {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
  }

}
